#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp/
temp/


#     Node.js     #
###################
node_modules
dist
package-lock.json

#       NYC       #
###################
coverage
*.lcov
.nyc_output


#      Files      #
###################
*.log
docs
mkdocs.yml
